h1{
   color:red; 
   background-color: blue;
   padding: 20px;
} 
p{
background-color:#eee;
color:black;
padding:20px;
border:10px blue solid;
font-size: 30px;
font-weight: bold;
}
div{
    background-color:#eeeeee36;
    color:black;
    padding:20px;
    height:155px;
    width:155px;
    border-radius: 50% 50%;
    border:10px red solid;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;

}